{% extends "layout.html" %}




{% block content %}



<div class="col s5 offset-s1">

    <div class="card medium">
        <div class="card-image">
            <img src="../static/images/space.jpg">

            <span class="card-title">Delivering Faster Than Light</span>
        </div>
        <div class="card-content">
            <p>Our interstellar multi-civilizational company focuses on 
                delivering the most rare and bizzare sorts od doughnuts 
                to the very outskirts of the Galaxy!</p>
        </div>
        <div class="card-action">
            <a href="/sender/signup">Become a sender</a>
        </div>
    </div>
</div>

<div class="col s5">
    <div class="card medium">
        <div class="card-image">
            <img src="../static/images/space2.png">
            <span class="card-title dark-card-title">Already a Sender?</span>
        </div>
        <div class="card-content">
            <p>Thanks to our transdimentional doughnuts-delivery technologies 
                you can send a set of Cosmic Doughnuts to your friends on the 
                other side of the Milky Way in a blink of an eye.
            </p>
        </div>
        <div class="card-action">
            <a href="/sender/login">Log in to send more</a>
        </div>
    </div>
</div>

{% endblock%}