{% extends "layout.html" %}


{% block content %}



<!-- <form class="col s12" method="POST" action="https://infinite-hamlet-29399.herokuapp.com/sender/register" -->

<!-- the same page but with POST method -->
<form class="col s12" method="POST" action="/sender/signup" enctype="multipart/form-data">

    <ul>

        <!-- FIRST ROW -->
        <li>
            <div class="row">

                <!-- LOGIN -->
                <div class="input-field col s2 offset-s1">

                    <i class="material-icons prefix icon-color" id="login-icon">assignment_ind</i>
                    <i class="material-icons prefix error-color" id="login-error" hidden>error</i>
                    <i class="material-icons prefix good-color" id="login-good" hidden>check_circle</i>

                    <input type="text" id="login" name="login" class="validate" autocomplete="off">
                    <label for="icon_prefix">Login</label>
                    <div class="flashes" id="login-alert"></div>
                </div>

                <!-- FIRSTNAME -->
                <div class="input-field col s2 offset-s1">

                    <i class="material-icons prefix icon-color" id="firstname-icon">account_circle</i>
                    <i class="material-icons prefix error-color" id="firstname-error" hidden>error</i>
                    <i class="material-icons prefix good-color" id="firstname-good" hidden>check_circle</i>

                    <input type="text" id="firstname" name="firstname" class="validate" autocomplete="off">
                    <label for="icon_prefix">First Name</label>
                    <div class="flashes" id="firstname-alert"></div>
                </div>

                <!-- PHOTO -->
                <div class="input-field file-field col s3 offset-s1">
                    <div class="btn">
                        <span>Photo</span>
                        <input type="file" name="photo" id="photo">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" autocomplete="off">
                    </div>
                    <div class="flashes" id="photo-alert"></div>
                </div>





            </div>
        </li>

        <!-- SECOND ROW -->
        <li>
            <div class="row">

                <!-- PASSWORD -->
                <div class="input-field col s2 offset-s1">

                    <i class="material-icons prefix icon-color" id="password-icon">lock_outline</i>
                    <i class="material-icons prefix error-color" id="password-error" hidden>error</i>
                    <i class="material-icons prefix good-color" id="password-good" hidden>check_circle</i>

                    <input type="password" id="password" name="password" class="validate" autocomplete="off">
                    <label for="icon_prefix">Password</label>
                    <div class="flashes" id="password-alert"></div>
                </div>

                <!-- LASTNAME -->
                <div class="input-field col s2 offset-s1">

                    <i class="material-icons prefix icon-color" id="lastname-icon">account_circle</i>
                    <i class="material-icons prefix error-color" id="lastname-error" hidden>error</i>
                    <i class="material-icons prefix good-color" id="lastname-good" hidden>check_circle</i>

                    <input type="text" id="lastname" name="lastname" class="validate" autocomplete="off">
                    <label for="icon_prefix">Second Name</label>
                    <div class="flashes" id="lastname-alert"></div>
                </div>

                <!-- SEX -->
                <div class="input-field col s2 offset-s1">

                    <i class="material-icons prefix icon-color" id="sex-icon">wc</i>
                    <i class="material-icons prefix error-color" id="sex-error" hidden>error</i>
                    <i class="material-icons prefix good-color" id="sex-good" hidden>check_circle</i>

                    <select id="sex" name="sex" autocomplete="off">
                        <option value="" disabled selected>Select Gender</option>
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                        <option value="ApacheHelicopter">Apache Helicopter</option>
                        <label>Select</label>
                    </select>
                    <div class="flashes" id="sex-alert"></div>
                </div>


            </div>
        </li>


        <!-- THIRD ROW -->
        <li>
            <div class="row">

                <!-- PASSWORD2 -->
                <div class="input-field col s2 offset-s1">

                    <i class="material-icons prefix icon-color" id="password2-icon">lock</i>
                    <i class="material-icons prefix error-color" id="password2-error" hidden>error</i>
                    <i class="material-icons prefix good-color" id="password2-good" hidden>check_circle</i>

                    <input type="password" id="password2" name="password2" class="validate">
                    <label for="icon_prefix">Repeat Password</label>
                    <div class="flashes" id="password2-alert"></div>
                </div>

                <!-- EMAIL -->
                <div class="input-field col s2 offset-s1">

                    <i class="material-icons prefix icon-color" id="email-icon">mail</i>
                    <i class="material-icons prefix error-color" id="email-error" hidden>error</i>
                    <i class="material-icons prefix good-color" id="email-good" hidden>check_circle</i>

                    <input type="text" id="email" name="email" class="validate" autocomplete="off">
                    <label for="icon_prefix">Email</label>

                    <div class="flashes" id="email-alert"></div>
                </div>



                <!-- SUBMIT -->
                <div class="col s1 offset-s1">
                    <button class="btn waves-effect waves-light" id="submit" type="submit" autocomplete="off" disabled>
                        Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>




            </div>
        </li>


    </ul>
</form>

{% endblock %}

{% block script %}
<script type="text/javascript" src="/static/js/main.js"></script>
{% endblock %}